@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bgcolor: #081b29;
  --secbgcolor: #112e42;
  --textcolor: #ededed;
  --maincolor: #00abf0;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  outline: none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color: var(--bgcolor);
  color: var(--textcolor);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.3s ease;
}
.header.sticky {
  background: var(--bgcolor);
}

.logo {
  font-size: 2.5rem;
  color: var(--textcolor);
  font-weight: 600;
}
.navbar a {
  font-size: 1.7rem;
  color: var(--textcolor);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.5s;
}
.navbar a:hover,
.navbar a.active {
  color: var(--maincolor);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--textcolor);
  cursor: pointer;
  display: none;
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url(imgs/newbggg.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.home-content {
  max-width: 60rem;
  z-index: 99;
}
.home-content h1 {
  font-size: 6rem;
  font-weight: 800;
  line-height: 1.3;
}
.home-content .text-animate {
  position: relative;
  width: 32.8rem;
}
.home-content .text-animate h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.8px var(--maincolor);
  background-image: linear-gradient(var(--maincolor), var(--maincolor));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -33rem 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}

/* .home-content .text-animate h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border: 2px solid var(--maincolor);
  z-index: -1;
  animation: sss 6s linear infinite;
  animation-delay: 2s;
} */
.home-content p {
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}
.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}
.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--maincolor);
  border: 0.2rem solid var(--maincolor);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--bgcolor);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--bgcolor);
  z-index: -1;
  overflow: hidden;
  transition: 0.5s ease;
}
.btn-box .btn:hover {
  background: transparent;
  color: var(--maincolor);
}
.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--maincolor);
}
.btn-box .btn:nth-child(2)::before {
  background: var(--maincolor);
}
.btn-box .btn:nth-child(2):hover {
  color: var(--bgcolor);
}

.btn-box .btn:hover::before {
  width: 100%;
}
.home-sci {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--maincolor);
  border-radius: 50%;
  font-size: 24px;
  color: var(--maincolor);
  z-index: 1;
  overflow: hidden;
}
.home-sci a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: var(--maincolor);
  z-index: -1;
  transition: 0.5s ease;
}
.home-sci a:hover::before {
  height: 100%;
}
.home-sci a:hover {
  color: var(--bgcolor);
}
.home-imghover {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background: transparent;
  transition: 3s ease;
}
.home-imghover:hover {
  background: var(--bgcolor);
  opacity: 0.5;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  background: var(--secbgcolor);
  padding-bottom: 6rem;
}
.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}
span {
  color: var(--maincolor);
}
.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img img {
  width: 90%;
  border-radius: 50%;
  border: 0.2rem solid var(--maincolor);
}
.about-img .cirlce {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.2rem solid var(--secbgcolor);
  border-bottom: 0.2rem solid var(--secbgcolor);
  border-right: 0.2rem solid var(--maincolor);
  border-left: 0.2rem solid var(--maincolor);
  animation: spinnn 8s linear infinite;
}
.about-content {
  text-align: center;
}
.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
.btn-box2 {
  position: relative;
  display: inline-block;
  width: 34.5rem;
  height: 5rem;
}
.btn-box2 .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--maincolor);
  border: 0.2rem solid var(--maincolor);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--bgcolor);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.btn-box2 .btn:hover {
  background: transparent;
  color: var(--maincolor);
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
}

.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.education-row .education-column {
  flex: 1 1 40rem;
}
.education-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
  border-left: 0.2rem solid var(--maincolor);
}
.education-box .education-content {
  position: relative;
  margin-left: 2rem;
}
/* .education-box .education-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3.05rem;
  width: 2rem;
  height: 2rem;
  background: var(--maincolor);
  border-radius: 50%;
} */

.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--maincolor);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  transition: 0.5s ease;
}

.education-content .content:hover {
  background: var(--secbgcolor);
}

.education-content .content .year {
  font-size: 1.5rem;
  color: var(--maincolor);
  padding-bottom: 0.5rem;
}
.education-content .content .year i {
  padding-right: 0.5rem;
}
.education-content .content h3 {
  font-size: 2rem;
}
.education-content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}

.skills {
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--secbgcolor);
}

.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.skills-row .skills-column {
  flex: 1 1 40rem;
}
.skills-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}

/*  */

.skills-row .skillss-column {
}
.skillss-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}

.skillss-content {
  display: flex;
  flex-wrap: wrap;
}

.skillss-box .progresss {
  position: relative;
  border: 0.2rem solid var(--maincolor);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s ease;
  margin: 0.5rem;
  width: fit-content;
  display: flex;
}
.skillss-content .progresss {
  padding: 0.5rem 0.5rem;
}
.skillss-content .progresss h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}

/*  */

.skills-box .skills-content {
  position: relative;
  border: 0.2rem solid var(--maincolor);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s ease;
}
.skills-content .progress {
  padding: 1rem 0;
}
.skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}
.skills-content .progress h3 span {
  color: var(--textcolor);
}
.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--maincolor);
  padding: 0.5rem;
  margin: 1rem 0;
}
.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--maincolor);
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 70%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 50%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 75%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
  width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
  width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
  width: 65%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span {
  width: 60%;
}
.skills-column:nth-child(3) .skills-content .progress:nth-child(1) .bar span {
  width: 100%;
}
.skills-column:nth-child(3) .skills-content .progress:nth-child(2) .bar span {
  width: 70%;
}
.skills-column:nth-child(3) .skills-content .progress:nth-child(3) .bar span {
  width: 90%;
}

.skills-box .skills-content:hover {
  background: var(--bgcolor);
}

.contact .icon {
  font-size: 10rem;
  text-align: center;
  color: var(--maincolor);
}

.contact .info h3 {
  font-size: 2.2rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--textcolor);
}
.contact .info p {
  font-size: 2rem;
  text-align: center;
}

.contact .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  background-color: var(--bgcolor);
  width: 35rem;
  border-radius: 2rem;
  border: 0.2rem solid var(--maincolor);
  padding: 2rem;
  margin: 2rem;
  transition: 0.5s ease;
}
.card:hover {
  background: var(--secbgcolor);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--secbgcolor);
}

.footer-text p {
  font-size: 1.6rem;
}
.footer-icon a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--maincolor);
  padding: 0.8rem;
  border: 0.2rem solid var(--maincolor);
  border-radius: 0.6rem;
  transition: 0.5s ease;
}
.footer-icon a i {
  font-size: 2.4rem;
  color: var(--bgcolor);
  transition: 0.5s ease;
}
.footer-icon a:hover {
  background: var(--secbgcolor);
}
.footer-icon a:hover i {
  color: var(--maincolor);
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991) {
  .header {
    padding: 2rem 4%;
  }
  .section {
    padding: 10rem 4% 2rem;
  }
  .home {
    padding: 0 4%;
  }
  .footer {
    padding: 2rem 4%;
  }
}
@media (max-width: 768px) {
  .header {
    background: var(--bgcolor);
  }
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--maincolor);
    box-shadow: 0 0.5rem 1rem rgba(0 0 0 0.2);
    transition: 0.25s ease;
    z-index: 1;
  }

  .navbar.active {
    left: 0;
    transition-delay: 0s;
  }
  .navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--bgcolor);
    border-top: 0.1rem solid rgba(0 0 0 0.2);
    z-index: -1;
    transition: 0.25s ease;
    transition-delay: 0s;
  }
  .navbar.active .active-nav {
    transition-delay: 0.25s;
    left: 0;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem;
    transform: translateX(-20rem);
    transition: 0.25s ease;
    transition-delay: 0s;
  }
  .navbar.active a {
    transform: translateX(0);
    transition-delay: 0.25s ease;
  }
  .home-imghover {
    pointer-events: none;
    background: var(--bgcolor);
    opacity: 0.6;
  }
}

@media (max-width: 520px) {
  html {
    font-size: 50%;
  }
  .home-content h1 {
    display: flex;
    flex-direction: column;
  }
  .home-sci {
    width: 160px;
  }
  .home-sci a {
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 462px) {
  .home-content h1 {
    font-size: 5.2rem;
  }
  .footer {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
  }
  .footer p {
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
  }
  .education {
    padding: 10rem 4% 5rem 5%;
  }
}

@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -33rem 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes sss {
  0%,
  10%,
  100% {
    width: 0;
  }
  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }
  75%,
  81% {
    opacity: 0;
  }
}

@keyframes spinnn {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 600px) {
  .home {
    display: flex;
    align-items: center;
    padding: 0 4%;
    background: url(imgs/newbggg.png) no-repeat;
    background-size: cover;
    background-position: 70%;
  }
  .home-imghover {
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 0%;
    background: transparent;
    transition: 3s ease;
  }
  .home-imghover:hover {
    background: var(--bgcolor);
    opacity: 0.5;
  }
}
